.survey-container {
  background: #1C1F26; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
  margin: 50px auto;
}

.survey-container h2 {
  color: #FFA500; 
  margin-bottom: 20px;
}

.survey-container label {
  display: block;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  text-align: left;
}

.survey-container input[type="text"],
.survey-container input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #3E4957;
  border-radius: 6px;
  font-size: 14px;
  background-color: #232A34;
  color: white;
  margin-bottom: 15px;
}

.survey-container input::placeholder {
  color: #bbbbbb;
}

.survey-container input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 10px;
}

.survey-container button {
  width: 100%;
  padding: 12px;
  background-color: #FFA500; 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.survey-container button:hover {
  background-color: #FF8800;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 15px;
  font-size: 16px;
  color: white;
}


.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: orange;
}



